{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "overrides": [
        {
            "files": ["*.ts", "*.tsx", "*.js", "*.html", "*.scss", "*.css", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}